body {
    margin: 0;
    background-color: !body background-color!;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: !footer background-color!;
    color: !footer color!;
    text-align: center;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: !header background-color!;
    color: !header color!;
    text-align: left;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
}

.headertext {
    padding-left: 80px;
    color: !.headertext color!;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: !nav background-color!;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
}

nav a {
    float: left;
    display: block;
    width: 14.8%;
    color: !nav a color!;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav a:hover {
    background-color: !nav a:hover background-color!;
    color: !nav a:hover color!;
}

.content {
    padding-top: 10px;
    padding-bottom: 80px;
    width: 100%;
    background-color: !.content background-color!;
}

.maintext {
    padding-top: 20px;
    padding-left: 80px;
    width: 70%;
}

.sticky {
    position: fixed;
    top: 0;
}

.sticky + .content {
padding-top: 60px;
}

.content h1, h2{
    color: !.content h1, h2 color!;
}

#category{
    position: fixed;
    right: 40px;
    top: 100px;
    width: 20%;
    visibility: hidden;
    background-color: !#category background-color!;
    color: !#category color!;
    border-style: solid;
    text-align: center;
    border-radius: 2px;
}

#categorywrapper{
    padding: 12px;
    text-align: left;
}

#categorywrapper ul{
    padding-left: 0px;
    list-style-type: none;
}

#categorywrapper a:link{
    text-decoration: none;
    color: !#categorywrapper a:link color!;
}

#categorywrapper a:hover{
    text-decoration: underline;
    color: !#categorywrapper a:hover color!;
}

#categorywrapper a.visited{
    text-decoration: none;
    color: !#categorywrapper a.visited color!;
}

#categorywrapper a.visited:hover{
    text-decoration: underline;
    color: !#categorywrapper a.visited:hover color!;
}

.bookmark1{
    padding-left: 0px;
}

.bookmark2{
    padding-left: 25px;
}

#gototopbtn{
    visibility: hidden;
    z-index: 99;
    position: fixed;
    right: 0px;
    bottom: 115px;
    border: none;
    outline: none;
    background-color: !#gototopbtn background-color!;
    color: !#gototopbtn color!;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: 2px;
}

del{
    color: !del color!;
}

a#togglecolor{
    float: right;
    background-color: !a#togglecolor background-color!;
    width: 7%;
    padding: 12px;
    text-align: center;
    border-style: solid;
    border-color: !a#togglecolor border-color!;
    border-width: 12px;
}

a#togglecolor:hover{
    float: right;
    background-color: !a#togglecolor:hover background-color!;
    width: 7%;
    padding: 12px;
    text-align: center;
    border-style: solid;
    border-color: !a#togglecolor:hover border-color!;
    border-width: 12px;
}